@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Material+Icons%7CMaterial+Icons+Outlined%7CMaterial+Icons+Two+Tone%7CMaterial+Icons+Round%7CMaterial+Icons+Sharp" rel="stylesheet"'); */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');


:root{
    --black:black;
    --blue:#0027D5;
    --white:white;
    --gray:#4B4B4B;
    --secondary:#6C757D;
    --gray-100:#EDEDED;
    --gray-200:#F5F5F5;
    --background:#FBFBFB;
    
}

body{
    font-family: "Noto Sans TC", sans-serif;
    line-height:1.5;
    font-weight: 500;
    background: var(--background);
}

button{
    background: unset;
    border: unset;
     cursor: pointer; 
}

header a:hover{
    color:var(--blue);
}
.outline{
    outline:solid red;
}
.container{
    max-width: 1920px;
    margin: 0 auto;
}

.d-block{
    display: block;
}

.d-inline-block{
    display: inline-block;
}

.d-none{
    display: none;
}

.d-flex{
    display: flex;
}

.fixed-top{
    position: fixed;
    top:0;
    width: 100%;
    background: var(--background);
    z-index: 10;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-end{
    justify-content: end;
}

.align-items-center{
    align-items: center;
}

.align-items-stretch{
    align-items: stretch;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-row-reverse{
    flex-direction: row-reverse;
}

.flex-column{
    flex-direction: column;
}

.position-relative{
    position: relative;
}

.position-absolute{
    position: absolute;
}

.p-24{
    padding: 24px;
}

.p-40{
    padding: 40px;
}

.ps-16{
    padding-left: 16px;
}
.px-12{
    padding:0 12px;
}

.px-20{
    padding-left: 20px;
    padding-right: 20px;
}

.px-40{
    padding-left: 40px;
    padding-right: 40px;
}

.px-80{
    padding-left: 80px;
    padding-right: 80px;
}

.py-8{
    padding-top: 8px;
    padding-bottom: 8px;
}

.py-24{
    padding-top: 24px;
    padding-bottom: 24px;
}

.py-48{
    padding-top: 48px;
    padding-bottom: 48px;
}

.py-80{
    padding-top: 80px;
    padding-bottom: 80px;
}

.me-4{
    margin-left: 4px;
}

.ms-8{
    margin-left: 8px;
}

.ms-80{
    margin-left: 80px;
}

.ms-auto{
    margin-left: auto;
}

.me-8{
    margin-right: 8px;
}
.me-auto{
    margin-right: auto;
}
.mt-90{
    margin-top: 90px;
}

.mb-4{
    margin-bottom: 4px;
}

.mb-8{
    margin-bottom: 8px;
}

.mb-12{
    margin-bottom: 12px;
}

.mb-16{
    margin-bottom: 16px;
}

.mb-24{
    margin-bottom: 24px;
}

.mb-32{
    margin-bottom: 32px;
}

.mb-40{
    margin-bottom: 40px;
}

.mb-48{
    margin-bottom: 48px;
}

.mb-202{
    margin-bottom: 202px;
}
.mx-auto{
    margin-right: auto;
    margin-left: auto;
}

.mx-80{
    margin-right: 80px;
    margin-left: 80px;
}

.my-16{
    margin-top: 16px;
    margin-bottom: 16px;
}

.my-80{
    margin-top: 80px;
    margin-bottom: 80px;
}

.fs-2{
    font-size: 32px;
}

.fs-3{
    font-size: 28px;
}

.fs-4{
    font-size: 24px;
}

.fs-5{
    font-size: 20px;
}

.fs-6{
    font-size: 16px;
}

.fs-40{
    font-size: 40px;
}
.fs-64{
    font-size: 64px;
}

.fw-b{
    font-weight: bold;
}

.gap-4{
    column-gap: 4px;
}

.gap-8{
    column-gap: 8px;
}

.gap-16{
    column-gap: 16px;
}

.gap-24{
    column-gap: 24px;
    /* gap: 24px; */
}

.gap-40{
    column-gap: 40px;
}

.gap-row-16{
    row-gap: 16px;
}

.gap-row-64{
    row-gap: 64px;
}

.primary-text, .current{
    color:var(--blue);
}

.Secondary-text{
    color: var(--gray);
}

.slogan{
    background: url("../images/desktop/index/Hero_Section2.png");
}

.slogan-text{
    max-width: 333px;
}

.slogan-title{
    font-size: 120px;
    font-weight: 900;
}

.about{
    max-width: 1077px;
    right:4%;
    top: 80%;
}

.about-column{
    width: calc(100% / 2 - 12px);   
}

.title{
    font-weight: 700;
}

.word-wrap{
    word-wrap: break-word;
    word-break: break-word;
}

.w-50{
    width: 50%;
}

.w-100{
    width: 100%;
}

.h-100{
    height: 100%;
}

.tag-blue{
    color:var(--white);
    background: var(--blue);
    padding: 6px 12px;
    border-radius: 40px;
}

.btn{
    /* color:var(--gray); */
    background: var(--white);
    padding: 8px 16px;
    border-radius: 40px;
    border:1px solid var(--black);
}

.btn-gray{
    color:var(--gray);
}

.btn-gray:hover{
    background: var(--gray-100);    
}

.btn-blue{
    color:var(--blue);
    border:1px solid var(--blue);
}

.btn-blue:hover{
    background: var(--blue);
    color: var(--white);
}

.topic{
    max-width: 660px;
}

.topic ul {
    list-style-type: disc;
    list-style-position:outside;
    padding-left:20px;
}

.list-numbered ul {
    list-style-type: decimal;
}

.topic-list{
    max-width: 1320px;
}

.text-break{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-center{
    text-align: center;

}

.text-end{
    text-align: right;
}

.text-underline{
    text-decoration: underline;
}

.searchbar{
    padding: 18px 50px;
    border-radius: 48px;
    border:1px solid var(--gray);
    width: 416px;
}

.searchbar ~button{
    left:10px;

}

.service{
    max-width: 1076px;
}

.service picture{
    max-width: 636px;
    /* max-width: calc(100% * (636 / 1076)); */
}

.service .card-body{
    max-width: 480px;
    /* max-width: calc(100% * (480 / 1076)); */
}

.signup{
    width: calc(100% * (640 / 800));    
}

.signup input{
   border-style: none;
   width: 100%;
   line-height:1.5;
   outline:none;
}

.top-50{
    top:50%;
}

.right-0{
    right: 0;
}

.left-0{
    left: 0;
}

.start-50{
    left: 50% 
}

.translate-middle-y {
    transform: translateY(-50%);
}

.translate-middle {
    transform: translate(-50%, -50%);
}

input{
    font-size: 16px;
}

input::placeholder {
    font-size: 16px;
    color:var(--gray);
    font-weight: 500;
}

.card-row{
    margin: 0 -12px;
}

.column{
    padding: 40px 12px;
    width: calc(100% / 3);    
}

.gray-line{
    border-top:1px solid var(--secondary); 
}

.black-line{
    border-bottom:1px solid var(--black); 
}

.page{
    color:var(--gray);
    background: var(--white);
    border-radius: 40px;
    max-width: 328px;
}

.page li{
    width: 40px;
    height: 40px;
}

.page a:hover{
    color:var(--blue)
}

.bg-white{
    background: var(--white);
}

.bg-blue{
    background: var(--blue);
}

.bg-gray-100{
    background: var(--gray-100);
}

.bg-gray-200{
    background: var(--gray-200);
}

.radius-24{
    border-radius: 24px;
}

.topic-list .swiper-button-prev{
    background: var(--blue);
    color: var(--white);
    border-radius: 50%;
    width: 44px;
    height: 44px;
    left:-72px;
}

.topic-list .swiper-button-next{
   background: var(--blue);
   color: var(--white);
   border-radius: 50%;
   width: 44px;
   height: 44px;
   right:-72px;
}

.topic-list .swiper-button-prev::after{
    content:"\e5c4";
	font-family: "Material Symbols Outlined";
	position: absolute;
	border:none;
    color: var(--white);
    
}

.topic-list .swiper-button-next::after{
    content:"\e5c8";
	font-family: "Material Symbols Outlined";
	position: absolute;
	border:none;
    color: var(--white);
}

.reserve .card-body{
    max-width: 526px;
}

.reserve picture{
    max-width: 745px;
}

.reserve ul li:nth-child(1) .card-body  {
    top:29px;
    right:219px;
}

.reserve ul li:nth-child(2) .card-body  {
    bottom: 29px;
}

.podcast .column{
    padding: 24px 12px;
    width: calc(100% / 4);
}

.podcast .card-body{
    border-bottom:1px solid var(--gray); 
}

.footer{
    max-width: 1320px;
    padding-right: 12px;
    padding-left: 12px;
}

.contact a{
   border:1px solid var(--black);
   color: var(--black);
   border-radius: 50%;
   width: 40px;
   height: 40px;
}

.contact a:hover{
    background: var(--gray-100);

}

.contact a::after{
    content:"\e5c8";
	font-family: "Material Symbols Outlined";
	position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 100;
}

.podcast .material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}

.blow-up {
    transform: scale(1);
    transition: all .5s ease;
}

.move-right:hover{
    transform: scaleX(1.05);
    transform-origin: left;
    transition: transform 0.5s ease;
}
.blow-up-l:hover {
    transform: scale(1.2);
}

.blow-up-m:hover {
    transform: scale(1.1);
}

.blow-up-s:hover {
    transform: scale(1.05);
}

@media (max-width:1432px) {
    .topic-list .swiper-button-prev{
       position: static;
        right:100px;
        top:100%;
        margin-top: 32px;
    }

    .topic-list .swiper-button-next{
        position: static;
        right:0;
        top:100%;
        margin-top: 32px;
    }

    .reserve picture{
        max-width: 100%;
    }

    .reserve ul li:nth-child(1) .card-body  {
        position: static;
        /* height: 100%; */
    }

    .reserve ul li:nth-child(2) .card-body  {
        position: static;
        /* height: 100%; */
    }

}

@media (max-width:992px) {
    .fs-md-4 {
        font-size: 24px;
    }

    .fs-md-48{
        font-size: 48px;
    }    

    .px-md-12{
        padding-right: 12px;
        padding-left: 12px;
    }

    .px-md-24{
        padding-right: 24px;
        padding-left: 24px;
    }

    .py-md-24{
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .py-md-40{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .py-md-48{
        padding-top: 48px;
        padding-bottom: 48px;
    }
    .mx-md-auto{
        margin: 0 auto;
    }

    .ms-md-24{
        margin-left: 24px;
    }

    .mb-md-32{
        margin-bottom: 32px;
    }

    
    .slogan-title{
        font-size: 52px;
    }

    .about{
        position: absolute;
        max-width: 93.5%;
        right:3%;
        /* top:571px; */
    }
  
    .podcast .column, .column{
        width: 50%;
    }

    .searchbar{
        width: 100%;
    }

    .topic-last{
        padding: 48px 12px;
    }

    .w-md-100{
        width: 100%;
    }
    
    .footer{
        padding-right: 12px;
        padding-left: 12px;
    }

}

@media (max-width:767px) {
    .about-column{
        width: 100%;
    }

    .flex-column{
        flex-direction: column;
    }
    .fs-sm-4{
        font-size: 24px;
    }
    .column{
        width: 100%;
        padding: 16px 12px;
    }
    .card img{
        width: 100%;
    }

    .podcast .column{
        width: 100%;
        padding: 12px;
    }

    .podcast .card img{
        width: unset;
        max-width: 100%;
    }
    
    .d-sm-none{
        display: none;
    }

    
    .d-sm-inline{
        display: inline;
    }

    .d-sm-block{
        display:block;
    }

    .w-sm-100{
        width: 100%;
    }

    
    .px-sm-24{
        padding-right: 24px;
        padding-left: 24px;
    }

    .py-sm-12{
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .py-sm-40{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .py-sm-64{
        padding-top: 64px;
        padding-bottom: 64px;
    }

    .mt-sm-24{
        margin-top: 24px;
    }

    .mb-sm-8{
        margin-bottom: 8px;
    }

    .mb-sm-12{
        margin-bottom: 12px;
    }

    .mb-sm-16{
        margin-bottom: 16px;
    }

    .mb-sm-292{
        margin-bottom: 292px;
    }

    .my-sm-24{
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .align-items-sm-start{
        align-items: start;
    }

    .justify-content-sm-center{
        justify-content: center;
    }

    .justify-content-sm-start{
        justify-content: start;
    }
    .text-sm-center{
        text-align: center;
    }

    .service .card-body{
        max-width: 100%;
        position: static;
    }
    .gap-row-sm-24{
        row-gap: 24px;
    }

    .gap-row-sm-32{
        row-gap: 32px;
    }

    .flex-sm-column{
        flex-direction: column;
    }

    .service picture{
        width: 100%;
    }

    .reserve {
        height: 998px;
    }
    .reserve .card-body{
        max-width: 100%;
    }

    .reserve li:nth-child(2) ul {
        position: absolute;
        bottom: 0;
    }
    .signup-bg{
        min-height: 440px;
    }
    .signup{
        width: calc(100% * (351 / 375));
        /* height: calc(100% * (416 / 440)); */
    }
}
/* 
@media (max-width:375px) {
    .about{
        max-width: 351px;
    }
} */

@media (max-width: 767px) {
  html, body {
    max-width: 100vw !important;
    overflow-x: clip;
    box-sizing: border-box;
  }
  .container,
  .reserve,
  .page,
  .footer {
    max-width: 100vw !important;
    width: 100vw !important;
    box-sizing: border-box;
  }
  .card-row {
    margin: 0 !important;
    width: 100vw !important;
    box-sizing: border-box;
  }
  .column, .about-column, .podcast .column {
    width: 100% !important;
    min-width: 0 !important;
    box-sizing: border-box;
  }
}
img, video, iframe {
  max-width: 100%;
  height: auto;
  display: block;
}